<nav class="menu">
  <ul class="menu__inner menu__inner--desktop">
    {{ if or $.Site.Params.showMenuItems ( eq .Site.Params.showMenuItems 0 ) }}
      {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
      {{ if gt (len $.Site.Menus.main) $.Site.Params.showMenuItems }}
        <ul class="menu__sub-inner">
          <li class="menu__sub-inner-more-trigger">{{ $.Site.Params.MenuMore }} ▾</li>

          <ul class="menu__sub-inner-more hidden">
            {{ range last (sub (len $.Site.Menus.main) $.Site.Params.showMenuItems) $.Site.Menus.main }}
              {{ if not .HasChildren }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            {{ end }}
          </ul>
        </ul>
      {{ end }}
    {{ else }}
      {{ range $.Site.Menus.main }}
        {{ if not .HasChildren }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      {{ end }}
    {{ end }}

    {{ if $.Site.Params.showLanguageSelector }}
    <div class="spacer"></div>
    <ul class="language-selector">
      <ul class="language-selector-current">
          <li>{{ .Language.LanguageName }} ▾</li>
      </ul>
      <ul class="language-selector__more hidden">
        {{ range $.Site.Home.AllTranslations }}
        <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
      </ul>
    </ul>
    {{ end }}
    <div class="spacer"></div>

    <div class="social-links">
      {{ if $.Site.Params.twitter.creator }}
        <a href="https://twitter.com/{{ $.Site.Params.twitter.creator }}" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      {{ end }}
      {{ if $.Site.Params.github.creator }}
        <a href="https://github.com/{{ $.Site.Params.github.creator }}" target="_blank">
          <i class="fab fa-github"></i>
        </a>
      {{ end }}
      {{ if $.Site.Params.linkedin.creator }}
        <a href="https://linkedin.com/in/{{ $.Site.Params.linkedin.creator }}" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      {{ end }}
      {{ with .OutputFormats.Get "RSS" }}
        <a href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}">
          <i class="fas fa-rss"></i>
        </a>
      {{ end }}
    </div>
  </ul>

  <ul class="menu__inner menu__inner--mobile">
    {{ range $.Site.Menus.main }}
      {{ if not .HasChildren }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    {{ end }}
    {{ if $.Site.Params.showLanguageSelector }}
    <hr />
        {{ range $.Site.Home.AllTranslations }}
          <li>
            <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
        {{ end }}
    {{ end }}
  </ul>
</nav>
